<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-md-6 col-sm-6 col-lg-3 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Информация</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" asp-controller="Home" asp-action="Index">Главная страница</a></li>
                                        <li class="li"><a class="single-link" asp-controller="Shop" asp-action="Index">Магазин</a></li>
                                        <li class="li"><a class="single-link" asp-controller="Home" asp-action="About">О нас</a></li>
                                        <li class="li"><a class="single-link" asp-controller="Home" asp-action="Contact">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                   
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-4 col-md-6 col-sm-6 pl-120px line-shape">
                        <div class="single-wedge ">

                            <h4 class="footer-herading">Контакты</h4>
                            <div class="footer-links">
                                <!-- News letter area -->
                                <p class="mail">
                                    Если у вас есть вопросы - <br>
                                    то свяжитесь с нами через почту <a href="mailto:demo@example.com">demo@example.com</a>
                                </p>
                                <p class="address">
                                    <i class="pe-7s-map-marker"></i> <span>
                                        Адрес
                                        <br>
                                        Ярославское шоссе, 67
                                    </span>
                                </p>
                                <p class="phone m-0">
                                    <i class="pe-7s-phone"></i><span>
                                        <a href="tel:0123456789">
                                            + 7 901 291 29 29
                                        </a> <br> <a href="tel:0123456789">+ 7 901 291 29 29</a>
                                    </span>
                                </p>

                                <!-- News letter area  End -->
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="line-shape-top">
                    <div class="row flex-md-row-reverse align-items-center">
                        <div class="col-md-6 text-center text-md-end">
                            <div class="payment-mth">
                                <a >
                                    <img class="img img-fluid"
                                         src="~/assets/images/icons/payment.png" alt="payment-image">
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End -->