
<!-- Feature Area Srart -->
<div class="feature-area pt-100px">
    <div class="container">
        <div class="feature-wrapper">
            <div class="single-feture-col">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/icons/1.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Бесплатная доставка</h4>
                        <span class="sub-title">при заказе от 1 000 руб.</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col ">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/icons/2.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Можно оплатить картой</h4>
                        <span class="sub-title">с рассрочкой на 12 месяцев</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="~/assets/images/icons/3.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Возврат средств</h4>
                        <span class="sub-title">в течении 2 недель со времени покупки</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title line-height-1">Что о нас говорят клиенты?</h2>
                    <p>
                        С величайшим удовольствием представляем вашему вниманию некоторые из наших недавних отзывов. Ваше мнение имеет для нас огромное значение, и мы гордимся тем, что с вами сформировалось так много положительных воспоминаний о нашем продукте и обслуживании.
                    </p>
                </div>
            </div>
        </div>
        <!-- Slider Start -->
        <div class="testimonial-wrapper swiper-container">
            <div class="swiper-wrapper">
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="author-img">
                            <img alt="">
                        </div>
                        <div class="testi-content">
                            <p>
                                "Просто восторг! Отличное обслуживание и качественные товары. Заказывала у них несколько раз, и каждый раз была приятно удивлена быстрой доставкой и прекрасным качеством товаров. Спасибо за ваш профессионализм!"
                            </p>
                        </div>
                        <div class="testi-author text-center">
                            <div class="author-name">
                                <h4 class="name">Анна Иванова</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="author-img">
                            <img alt="">
                        </div>
                        <div class="testi-content">
                            <p>
                                "Отличный опыт покупок! Приобрела у них украшения для свадьбы, и осталась в полном восторге. Изделия оказались даже красивее, чем на фотографиях, и к тому же были упакованы с большим вниманием к деталям. Рекомендую этот магазин всем, кто ценит качество и уникальность!"
                            </p>
                        </div>
                        <div class="testi-author text-center">
                            <div class="author-name">
                                <h4 class="name">Мария Петрова</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Slider Single Item -->
                <div class="swiper-slide">
                    <div class="testi-inner">
                        <div class="author-img">
                            <img alt="">
                        </div>
                        <div class="testi-content">
                            <p>
                                "Надежные партнеры! Мы сотрудничаем с этим брендом в рамках нашего бизнес-проекта, и с каждым днем все более впечатлены их профессионализмом. Отличное обслуживание клиентов, оперативные поставки и высокое качество продукции делают сотрудничество с ними настоящим удовольствием."
                            </p>
                        </div>
                        <div class="testi-author text-center">
                            <div class="author-name">
                                <h4 class="name">Александр Сидоров</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Slider Single Item -->
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!-- Slider Start -->
    </div>
</div>
<!-- Testimonial Area End -->
